!docker/volumes/mysql
docker/volumes/mysql/*
!docker/volumes/mysql/.gitkeep

src/server/.env
src/server/vendor

src/client/node_modules
src/client/.env
src/client/.env.local
src/client/.next
src/client/build
src/client/.DS_Store
src/client/next-env.d.ts
src/client/.vscode

.DS_Store
.idea

